@keyframes meteor {
    0% { transform: translateY(0); }
    100% { transform: translateY(1500px); }
}

@keyframes meteors {
    0% { transform: translateY(0); }
    100% { transform: translateY(1300px); }
}

@keyframes arrow {
    0% { transform: translateY(0); }
    100% { transform: translateY(800px); }
}
