#checkbox2 {
    position: fixed;
    bottom: 6em;
}
/*################################################################*/
/*Ausrichtung links*/
.arrow11l {
    position: fixed;
    top: -700px;
    left: 9em;
}
.arrow12l {
    position: fixed;
    top: -600px;
    left: 9em;
}
.arrow13l {
    position: fixed;
    top: -500px;
    left: 9em;
}
.arrow14l {
    position: fixed;
    top: -400px;
    left: 9em;
}
.arrow15l {
    position: fixed;
    top: -300px;
    left: 9em;
}
.arrow16l {
    position: fixed;
    top: -200px;
    left: 9em;
}
.arrow17l {
    position: fixed;
    top: -100px;
    left: 9em;
}
.arrow18l {
    position: fixed;
    top: 0px;
    left: 9em;
}

.arrow01l {
    position: fixed;
    top: 100px;
    left: 9em;
}
.arrow02l {
    position: fixed;
    top: 200px;
    left: 9em;
}
.arrow03l {
    position: fixed;
    top: 300px;
    left: 9em;
}
.arrow04l {
    position: fixed;
    top: 400px;
    left: 9em;
}
.arrow05l {
    position: fixed;
    top: 500px;
    left: 9em;
}
.arrow06l {
    position: fixed;
    top: 600px;
    left: 9em;
}
.arrow07l {
    position: fixed;
    top: 700px;
    left: 9em;
}
.arrow08l {
    position: fixed;
    top: 800px;
    left: 9em;
}
/*################################################################*/
/*Ausrichtung rechts*/
.arrow11r {
    position: fixed;
    top: -700px;
    right: 13.5em;
}
.arrow12r {
    position: fixed;
    top: -600px;
    right: 13.5em;
}
.arrow13r {
    position: fixed;
    top: -500px;
    right: 13.5em;
}
.arrow14r {
    position: fixed;
    top: -400px;
    right: 13.5em;
}
.arrow15r {
    position: fixed;
    top: -300px;
    right: 13.5em;
}
.arrow16r {
    position: fixed;
    top: -200px;
    right: 13.5em;
}
.arrow17r {
    position: fixed;
    top: -100px;
    right: 13.5em;
}
.arrow18r {
    position: fixed;
    top: 0px;
    right: 13.5em;
}

.arrow01r {
    position: fixed;
    top: 100px;
    right: 13.5em;
}
.arrow02r {
    position: fixed;
    top: 200px;
    right: 13.5em;
}
.arrow03r {
    position: fixed;
    top: 300px;
    right: 13.5em;
}
.arrow04r {
    position: fixed;
    top: 400px;
    right: 13.5em;
}
.arrow05r {
    position: fixed;
    top: 500px;
    right: 13.5em;
}
.arrow06r {
    position: fixed;
    top: 600px;
    right: 13.5em;
}
.arrow07r {
    position: fixed;
    top: 700px;
    right: 13.5em;
}
.arrow08r {
    position: fixed;
    top: 800px;
    right: 13.5em;
}

/*################################################################*/
#checkbox2:checked ~ #animarrow01 {
    animation: arrow 5s linear infinite;
    
}

