@media screen and (max-width: 780px) {
    .viewport {
        visibility: visible;
    }
    .aside2 {
        display: none;        
    }
    .start_button {
        visibility: hidden;
    }
    .aside1 {
        width: 4em;
    }
    h2 {
        font-size: 15px;
    }
    .nav_list{
        visibility: hidden;
    }
    .nav_button {
        visibility: hidden;
    }
    #animarrow01 {
        visibility: hidden;
    }
    #checkbox2 {
        visibility: hidden;
    }
}

@media screen and (min-width: 781px) and (max-width: 1343px) {
    .viewport {
        visibility: hidden;
    }
    .aside2 {
        display: none;        
    }
    .start_button {
        visibility: visible;
    }
    #animarrow01 {
        right: 0em;
    }     
}
@media screen and (min-width: 1344px) {
    .viewport {
        visibility: hidden;
    }
    .aside2 {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;        
    }
    .start_button {
        visibility: visible;
    }    
}

@media screen and (max-height: 600px) {
    .nav_list {
        visibility: hidden;
    } 
}
