.anim01 {
    position: fixed;
    border: 2px solid black;
    top: 0em;
    left: 10em;
}

.anim02 {
    position: fixed;
    border: 2px solid black;
    top: -10em;
    left: 15em;
}

.anim03 {
    position: fixed;
    border: 2px solid black;
    top: -2.5em;
    left: 20em;
}
.anim04 {
    position: fixed;
    border: 2px solid black;
    top: -7.5em;
    left: 25em;
}
.anim05 {
    position: fixed;
    border: 2px solid black;
    top: -12.5em;
    left: 30em;
}
.anim06 {
    position: fixed;
    border: 2px solid black;
    top: -1.5em;
    left: 35em;
}
.anim07 {
    position: fixed;
    border: 2px solid black;
    top: -3em;
    left: 40em;
}
.anim08 {
    position: fixed;
    border: 2px solid black;
    top: -6em;
    left: 45em;
}
.anim09 {
    position: fixed;
    border: 2px solid black;
    top: -5em;
    right: 15em;
}
.anim10 {
    position: fixed;
    border: 2px solid black;
    top: -2em;
    right: 20em;
}

.anim11 {
    position: fixed;
    border: 2px solid black;
    top: -9.5em;
    right: 25em;
}
.anim12 {
    position: fixed;
    border: 2px solid black;
    top: -3.5em;
    right: 30em;
}
.anim13 {
    position: fixed;
    border: 2px solid black;
    top: -7.5em;
    right: 35em;
}
.anim14 {
    position: fixed;
    border: 2px solid black;
    top: -4.5em;
    right: 40em;
}
.anim15 {
    position: fixed;
    border: 2px solid black;
    top: -5em;
    right: 45em;
}
.anim16 {
    position: fixed;
    border: 2px solid black;
    top: -1em;
    right: 50em;
}

.anim01:hover, .anim02:hover, .anim03:hover, .anim04:hover, .anim05:hover, .anim06:hover, .anim07:hover, .anim08:hover 
.anim09:hover, .anim10:hover, .anim11:hover, .anim12:hover, .anim13:hover, .anim14:hover, .anim15:hover, .anim16:hover
{
    background-color: red;
}

#checkbox {
    display: block;
}

#checkbox:checked ~ #animation01 {
    animation: meteor 4s linear infinite;
}

#checkbox:checked ~ #animation02 {
    animation: meteor 2s linear infinite;
}

#checkbox:checked ~ #animation03 {
    animation: meteor 3s linear infinite;
}

#checkbox:checked ~ #animation04 {
    animation: meteor 4s linear infinite;
}
#checkbox:checked ~ #animation05 {
    animation: meteor 5s linear infinite;
}

#checkbox:checked ~ #animation06 {
    animation: meteor 6s linear infinite;
}

#checkbox:checked ~ #animation07 {
    animation: meteor 7s linear infinite;
}

#checkbox:checked ~ #animation08 {
    animation: meteor 8s linear infinite;
}
#checkbox:checked ~ #animation01 {
    animation: meteors 2.5s linear infinite;
}

#checkbox:checked ~ #animation02 {
    animation: meteors 1.5s linear infinite;
}

#checkbox:checked ~ #animation03 {
    animation: meteors 2.5s linear infinite;
}

#checkbox:checked ~ #animation04 {
    animation: meteors 3.5s linear infinite;
}
#checkbox:checked ~ #animation05 {
    animation: meteors 4.5s linear infinite;
}

#checkbox:checked ~ #animation06 {
    animation: meteors 5.5s linear infinite;
}
#checkbox:checked ~ #animation07 {
    animation: meteors 6.5s linear infinite;
}

#checkbox:checked ~ #animation08 {
    animation: meteors 7.5s linear infinite;
}
