@import url(media.css);
@import url(color.css);
@import url(fonts.css);
@import url(meteor.css);
@import url(animation.css);
@import url(arrow.css);

body {
    margin: 0;
    font-family: "Ou_Hard";
    /*font-family: "Ou_Smooth";*/
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: var(--farbe2);
    max-height: 6em;
    width: 100%;
    z-index: 1;
}

.main_div {
    display: flex;
    flex-direction: row;
}

main { 
    background-color: gray;
    width: 100vw;
    height: 100vh;
    background-color: var(--farbe4);
    cursor: url(../images/CursorDrohneBlack.svg), auto;
}

.playfield {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.aside1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    max-width: 7em;
    background-color: var(--farbe3);
}

.aside2 {
    background-color: var(--farbe3);
    max-width: 14em;
}

footer {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0;
    background-color: var(--farbe2);
    width: 100%;
    bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: var(--farbe4);
}

p {
    text-align: center;
    font-size: 20px;
    color: var(--farbe1);
}

p1 {
    text-align: center;
    font-size: 20px;
    margin: 10px;
    color: var(--farbe4);
}

.logo {
    width: 100%;
    padding-top: 6em;
}

.viewport {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.nav_list {
    position: absolute;
    top: 40px;
    left: -0.5em;
    color: var(--farbe4);
}

a {
    color: var(--farbe4);
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    display: block;
    background-color: var(--farbe3);
    padding: 0;
    width: 5em;
    height: 2em;
    padding: 0;
    color: var(--farbe4);
    text-align: center;
    font-family: "Ou_Hard";
}

.nav_button {
    position: absolute;
    border: none;
    bottom: 0;
    left: 3em;
}

.start_button {
    position: fixed;
    bottom: 100px;
}

.start_button {
    background-color: var(--farbe2);
}
